{% load static %}
<div class="about" id="about">
    <div class="egg">
        <img src="{% static 'img/egg.png' %}" alt="">
        <p>Egg is the first phase of mine. We get developed from egg.</p>
    </div>
    <div class="chicken">
        <img src="{% static 'img/chicken2.png' %}" alt="">
        <p>That's me. After hatching from egg.</p>
    </div>
    <div class="hen">
        <img src="{% static 'img/hen.png' %}" alt="">
        <p>She is my Mother. Female chicken</p>
    </div>
    <div class="cock">
        <img src="{% static 'img/cocknew.png' %}" alt="">
        <p>He is my Father. Male Chicken</p>
    </div>
</div>