{% load static %}
<div class="gallery" id="gallery">
    <h1>My Gallery </h1>
    <div class="imageContainer">
        <div class="img" id="img1">
            <img src="{% static 'img/gallery1.jpg' %}" alt="" height="350px" width="350px">
        </div>
        <div class="img" id="img2">
            <img src="{% static 'img/gallery2.jpg' %}" alt="" height="350px" width="350px">
        </div>
        <div class="img" id="img/gallery3.jpg">
            <img src="{% static 'img/gallery3.jpg' %}" alt="" height="350px" width="350px">
        </div>
        <div class="img" id="img4">
            <img src="{% static 'img/gallery4.jpg' %}" alt="" height="350px" width="350px">
        </div>
        <div class="img" id="img5">
            <img src="{% static 'img/gallery5.jpg' %}" alt="" height="350px" width="350px">
        </div>
        <div class="img" id="img4">
            <img src="{% static 'img/gallery4.jpg' %}" alt="" height="350px" width="350px">
        </div>
        <div class="img" id="img5">
            <img src="{% static 'img/gallery5.jpg' %}" alt="" height="350px" width="350px">
        </div>
        <div class="img" id="img/gallery3.jpg">
            <img src="{% static 'img/gallery3.jpg' %}" alt="" height="350px" width="350px">
        </div>
       
    </div>

</div>